 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>Hello, my name is Moyhour Ang. I was born and raised in Phnom Penh, Cambodia. Currently, I am working as a freelance Web Developer in Phnom Penh.</p>
                    <p>In 2010 I graduated from a 4-year program in English for Professional Communication at the Institute of Foreign Languages (IFL) in Phnom Penh. You probably wonder how I got into Web Devlopment since I graduated from an English Program. Long story short, after graduating from University, I went to Canada to continue my studies. During my stay, my eyes were opened to the Web Development field from my soon-to-be husband and I've loved it ever since.</p>
                    <p>In the upcoming years of my career, I self-taught myself a diverse set of skills including Adobe Photoshop, HTML5, CSS3, SASS, Javascript, jQuery and Bootstrap 3. I am also able to do backend work using PHP and MySQL. I also have experience setting up and using content management systems such as WordPress and Magento. I use Git for all my version control needs. Ubuntu Linux is my operating system of choice, however I'm proficient in Windows as well. In this field, I believe that learning should never stop, which is why I'm constantly learning new tools, languages and techniques every single day.</p>
                    <p>When I'm not coding, I love to ice skate, roller blade, read books, play League of Legends and travel whenever possible. No matter what the activity, I'm always open to new challenges and will always strive to be the best. This is the trait that has driven me to where I am today, and also what will always keep me going.</p>
                    <p><strong>This is not just my job, it is my passion.</strong></p>
                </div>
            </div>
            <div class="row skill-items">
                <div class="col-lg-10 col-lg-offset-1 text-center"">
                   <div class="col-md-2 col-sm-4 col-xs-4">
                      <img src="img/skills/html5.png" class="img-responsive" alt="HTML5">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                       <img src="img/skills/css3.jpg" class="img-responsive" alt="CSS3">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                       <img src="img/skills/js.png" class="img-responsive" alt="Javascript">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                       <img src="img/skills/jquery.jpg" class="img-responsive" alt="JQuery">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                       <img src="img/skills/wordpress.png" class="img-responsive" alt="WordPress">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                       <img src="img/skills/php.jpg" class="img-responsive" alt="PHP">
                    </div>
                </div>
            </div>
        </div>
    </section>
