 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>Hi, my name is Moyhour Ang, I was borned and raised in Cambodia. Currently I am working as a Web Developer in Phnome Penh.</p>
                    <p>In 2010 I have graduated from the 4-years English for Professional Communication Program at Institude of Foreign Languages (IFL) in Cambodia. You probably wonder why I am in Web Devlopment since I have gratuated from an English Program. Long story short, after gratuating from IFL, I went to Canada to continue my study. During my stay, I got introduced to web development by my husband and I love it since then. </p>
                    <p>From there, I have self-taughted myself a diverse set of skills ranging from Adobe Photoshop to HTML5, CSS3, SASS, Javascript, Jquery and Bootstrap 3. I am also able to do backend work using PHP and MySQL. For Content Mangement, I have experience setting websites such as WordPress and Magento. I use Git for all my version control needs. Ubuntu (Linux) is my operating system of choice, but of course I can also use Windows. I am constantly learning new tools and languages.</p>
                    <p>When I'm not coding, I love to ice skate, roller blade, read books, play Leage of Legend and travel whenever possible. No matter what the activity, I'm always open to new challenges and will always strive to be the best. This is the trait that has driven me to where I am today, and also what will always keep me going.</p>
                    <p><strong>This is not just my job, it is my passion.</strong></p>
                </div>
            </div>
            <div class="row skill-items">
                <div class="col-lg-12">
                   <div class="col-md-2 col-xs-4">
                      <img src="img/skills/html5.png" class="img-responsive" alt="HTML5">
                    </div>
                    <div class="col-md-2 col-xs-4">
                       <img src="img/skills/css3.jpg" class="img-responsive" alt="CSS3">
                    </div>
                    <div class="col-md-2 col-xs-4">
                       <img src="img/skills/js.png" class="img-responsive" alt="Javascript">
                    </div>
                    <div class="col-md-2 col-xs-4">
                       <img src="img/skills/jquery.jpg" class="img-responsive" alt="JQuery">
                    </div>
                    <div class="col-md-2 col-xs-4">
                       <img src="img/skills/wordpress.png" class="img-responsive" alt="WordPress">
                    </div>
                    <div class="col-md-2 col-xs-4">
                       <img src="img/skills/php.jpg" class="img-responsive" alt="PHP">
                    </div>
                </div>
            </div>
        </div>
    </section>
