.profile_pic{
    width:150px;
    border-radius: 80%;
    webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 8px solid #fff;
}

header {
    text-align: center;
    color: #fff;
    background: url(img/header_bg_3.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.navbar {
    color: #555F6B;
    background-color: rgba(49, 57, 75, 0.6);
}
.navbar-fixed-top{
    padding: 5px 0;
    margin-bottom: 10px;
}
.navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
    background-color: rgba(49, 57, 75, 0.6);
}
.navbar-fixed-top .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.navbar-toggle{
    background: #4c7093;
}
.skill-items{
    margin-top:30px;
}
.portfolio-catagory{
    font-size: 16px;
    font-style:italic;
    color:#999;
    padding-bottom: 20px;
}
form .floating-label-form-group{
    border: 1px solid #204872;
    border-radius: 5px;
    margin-bottom:5px;
}
form .row:first-child .floating-label-form-group {
    border: 1px solid #204872;
}
footer .footer-below{
    background: #555F6B;
}
